/* !== Framework Module - STATES */

/*
 * @placeholders
 */

/* !== Hidden */
%isHidden {
  display: none;
}

/* !== Visible */
%isVisible {
  visibility: visible !important;
  display: block !important;
}
