/* != Framework Module - BUTTONS */

/* !== Basic Button Style */
@mixin buttonBase {
  @include rem(padding, 6px 20px );
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  border-radius:3px;
  transition:background 0.1s linear;
  cursor:pointer;
}

/* Placeholder for buttonBase @mixin */
%buttonBase {
  @include buttonBase;
}

/* Mixin for Basic Button Styles */
@mixin basicButton($color, $background, $hoverColor: $color, $hoverBackground: darken($background, 12)) {
  @include buttonBase;
  color:$color;
  background:$background;

  &:hover, &:focus, &:active {
    color:$hoverColor;
    background:$hoverBackground;
  }
}
