/* != Framework Module - Sprites */

/*
 * @variables
 */

/* Define the @1x and @2x Sprite files to use */
$spriteFile: url(path/to/sprite.png);
$spriteFileRetina: url(path/to/sprite@2x.png);

/* Define the Sprite size - this is the @1x version's dimensions */
$spriteSize: 200px 100px;

/*
 * @mixins
 */

/* Add basic Sprite CSS */
@mixin spriteFile {
  background-image:$spriteFile;
  background-size:$spriteSize;
  @include mq(retina) {
    background-image:$spriteFileRetina;
  }
}

/* Add CSS for sprite image as :before/:after content */
@mixin spriteBase {
  @include spriteFile;
  content: " ";
  display: block;
  position: absolute;
  background-repeat:no-repeat;
}

/*
 * @placeholders
 */

/* Provide a placeholder version of the Sprite File @mixin */
%spriteFile {
  @include spriteFile;
}

/* Provide a placeholder version of the Sprite Base @mixin */
%spriteBase {
  @include spriteBase;
}