/* != Brand Styles */

.cp_Brand {
  .in {
    padding:em(10) 0;
    margin-bottom: 0;
  }
}

.brandName {
  @include rem(font-size, 32px);
  @include rem(margin, 10px 0);
  color: $clrSchemeColour;

  span {
    color:lighten($clrSchemeColour,20);
  }
}