/* != Fuzz Layout Demo - Basic Component */

.cp_Demo {
  .in {
    background:$clrVeryLightGrey;
  }

  .title,
  .details {
    @include rem(padding, 10px 20px);
  }

  .title {
    background:$clrReallyLightGrey;
    border-bottom:3px solid $clrLightGrey;
  }
}