/* != Layout - Page  */

/* !== Set viewport and initial zoom for browsers that support CSS viewport functionality */
@-webkit-viewport { width: $deviceWidth; }
@-moz-viewport { width: $deviceWidth; }
@-ms-viewport { width: $deviceWidth; }
@-o-viewport { width: $deviceWidth; }
@viewport { width: $deviceWidth; }

/* !== Universal Border-Box Sizing  */
*, *:before, *:after {
  box-sizing: border-box;
}