/* != Links / Buttons */

/* !== Default Link Styles  */
a {
  color:$clrLightBlue;
  -webkit-tap-highlight-color: $clrNone;
  -webkit-tap-highlight-color: $clrInvsibile;
  transition:all .2s ease;

  &:hover, &:focus, &:active {
    color:$clrOrange;
  }
}

/* !==  More/Action link */
.moreLink {
  a {
    @extend %buttonBase;
    @include basicButton($clrWhite, $clrGreen);
  }
}

a {
  .moreLink {
    @extend %buttonBase;
    @include basicButton($clrWhite, $clrGreen);
  }
}

.button {
  @extend %buttonBase;
  @include basicButton($clrWhite, $clrBlue);
}