/* != NAVIGATION */
/* NOTE: Put styles for all navigation menu in here */

/* !== Main Navigation  */
.cp_MainNav {
  .menu {
    display: table;
    display:flex;
    flex-wrap:wrap;

    //@include mq($mqLuke){
      display: none;
    //}
  }

  li {
    display: inline-block;

    a {
      padding:em(5) em(10);
      background:$clrVeryLightGrey;
      margin-right: em(10);
      display: block;
      text-decoration: none;

      &:hover, &:focus, &:active {
        background:$clrLightGrey;
        color:$clrWhite;
      }
    }
  }
}

/* !== Sub Navigation */
.cp_SubNav {
  .menu {
    li {
      display: block;
    }
  }
}
