/* !== Slide Menu */

.wrapper,
.cp_SlideMenu,
.mnSlide {
  transition:left .25s ease, transform .4s ease-out;
  position: relative;
}

// This is the container for the whole page so we can move it in
// the viewport and reveal the slide menu.
.wrapper {
  position: relative;
  z-index: 10;
  left: 0;
  background:$clrWhite;
  //box-shadow:-5px 0 35px rgba($clrBlack, 0.4);
}

// Basic styles for the .nvToggle toggle button including the breakpoint
// to make it visible

.nvToggle {
  display: none;
  position: absolute;
  top:30px;
  left: 20px;
  width: 24px;
  height: 24px;
  text-align: left;
  display: block;

  @include mq($mqLuke){
    left:20px;
  }
}

.toggleAction {
  display: block;
  width: 30px;
  height: 30px;
}

.navIconLine {
  fill:$clrSchemeColour;
}


.cp_SlideMenu {
  width: 260px;
  z-index: 0;
  position: absolute;
  top:0;
  left:0;
  display: none;

  //@include mq($mqLuke){
    display: block;
  //}

  @include mq($mqArtoo){
    width: 260px;
    width: calc(100% - 58px);
  }

  .mnSlide {
    @include rem(padding, 15px 0);
    position: relative;
    left:-80px;
    transform:scale(0.9);

    .menu {
      padding-top: 0;
    }

    li {
      margin-bottom: 1px;
    }
  }

  li {
    a {
      text-decoration: none;
      display: block;
      background:rgba(255,255,255,0.1);
      color:$clrVeryLightGrey;
      transition:all 0.1s ease-out;
      @include rem(padding, 10px 25px);

      &:hover, &:focus, &:active {
        background:rgba(255,255,255,0.2);
        color:$clrVeryLightGrey;
      }
    }

    li {
      a {
        @include rem(padding-left, 45px);
      }
    }
  }
}

//@include mq($mqLuke){
  html {
    overflow-x: hidden !important;
  }

  .navVisible {
    overflow-x: hidden !important;

    .wrapper {
      position: relative;
      position: fixed;
      overflow: hidden;
      top:0;
      width: 100%;
      left:260px;
      //left:calc(100% - 58px);
    }

    .cp_SlideMenu {
      left: 0;

      .menu {
        left:0;
        transform:scale(1);
      }
    }
  }
//}

@include mq($mqArtoo) {
  .navVisible {
    .wrapper {
      left:260px;
      left:calc(100% - 58px);
    }
  }
}


.navVisible {
  .toggleAction {
    &:after {
      background-position: -255px -31px;
    }
  }
}
