/* != Style Guide  */

/* NOTES: Styles to create a flat style guide */

/* !== Page Title - override for Style Guide page */
.ttPage {
  font-size: em(24);
  padding:em(10,24) 0;
  border-bottom:2px solid $clrVeryLightGrey;
}

/* !== Style Guide label */
.sgLabel {
  font-size: em(18) !important;
  color:$clrSchemeColour;
  padding:em(5, 15);
  margin:0 0 em(10,14);
  background:lighten($clrSchemeColour, 43);
}

.cp_StyleGuide {
  .in {
    padding-bottom: em(40);
  }
}

/* !== Section Toggle Component */
.cpSectionToggle {
  .in {
  }

  .ttComp {
    font-size: em(28);
    margin:0;
    @include rem(padding, 12px 50px 12px 10px);
    background:$clrVeryLightGrey;
  }
}

/* !== Show/Hide widget components - selected by data-* attributes */
[data-plugin=showhide] {
  [data-action=toggle] {
    position: relative;
    cursor: pointer;

    &:after {
      content:"";
      transform: rotate(135deg);
      transition:all .2s linear;
      font-size:1.2em;
      position: absolute;
      right: em(15);
      top: em(10);
      width:20px;
      height:20px;
      text-align: center;
      vertical-align: middle;
      z-index: 100;
      display: block;
      background:url(img/plus.svg) center center no-repeat;
      background-size:20px 20px;
    }
  }

  &.isClosed {
    [data-action=toggle] {
      &:after {
        transform: rotate(0);
      }
    }

    [data-content=showhide] {
      //display: none
    }
  }
}
