/* != Font Declarations */
/* NOTE: Declare any @font-face rules here

   Different weights of the same font family should be declared under a single name and font-weight and font-style set accordingly.

   e.g.

       @font-face{
        font-family:"WebfontName";
        src:url("/fonts/webfont_light.file");
        font-weight:$light;
      }

      @font-face{
        font-family:"WebfontName";
        src:url("/fonts/webfont_normal.file");
        font-weight:$regular;
      }

       @font-face{
        font-family:"WebfontName";
        src:url("/fonts/webfont_heavy.file");
        font-weight:$bold;
      }

  This allows you to declare a single font-family and then use font-weight and font-style in the normal way, rather
  than declaring a different font-family for each type style.



@font-face{
  font-family:"Example";
  src:url("../fonts/Example_Normal.eot?#iefix");
  src:url("../fonts/Example_Normal.eot?#iefix") format("eot"),
      url("../fonts/Example_Normal.woff") format("woff"),
      url("../fonts/Example_Normal.ttf") format("truetype"),
      url("../fonts/Example_Normal.svg") format("svg");
  font-weight:$normal;
  font-style: normal;
}

*/