/* Fuzz framework - base.css 

INDEX
========

#1 Basic Elements
	#1.1 Headings
	#1.2 Paragraphs
	#1.3 Lists
	#1.4 Links / Buttons
	#1.5 Images

#2 Framework Levels
	#2.1 Stretch (.st)
	#2.2 Field (.fd)
	#2.3 Region (.rg)
	#2.4 Group (.gp)
	#2.5 Component (.cp)	

#3 Page Components
	#3.1 Grid Alignment
	#3.2 Inner Base Styles
	#3.3 Article Styles
	#3.X Utilities

#4 CSS3 Enhancements
	#4.1 Border Radius
	#4.2 Box Shadow
	#4.3 Text Shadow
	#4.4 Gradients
	#4.5 Transforms
	#4.6 Transitions
	#4.7 Animations

#5 Media Queries
	#5.1 Max Width = 1024px
	#5.2 Max Width = 768px
	#5.3 Max Width = 480px
	#5.4
	#5.5

*/

/*---------------------------*/
/*---[ #1 Basic Elements ]---*/
/*---------------------------*/


body {
    font-family: Helvetica, sans serif;
    font-size: 100%;
    line-height: 1.5;
    background: #fff;
    color: #333;
}

/*---[ #1.1 Headings ]---*/

h1,h2,h3,h4,h5,h6 {
	margin:0 0 18px;
}

.alpha {
    font-size: 36px;
}

.beta {
    font-size: 30px;
}

.gamma {
    font-size: 24px
}

.delta {
    font-size: 18px
}

.epsilon {
    font-size: 14px
}

/* Page Header */
.pageTitle {
    font-size: 40px;
    color: #DF4111;
    padding:15px;
}

.cpArticle .pageTitle {
	padding:0;	
}

/*---[ #1.2 Paragraphs ]---*/

p {
    margin: 0 0 18px;
}

/*---[ #1.3 Lists ]---*/


/*---[ #1.4 Links / Buttons ]---*/

a {
    color: #000;
    font-weight: bold;
}

a:active {
    position: relative;
    top: 1px;
}

a:active {
    position: relative;
    top: 1px;
}

a:hover,
a:focus {
    color: #777
}

.action a {
    padding: 5px 25px;
    background: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.action a:hover {
    background: #777
}

/*---[ #1.5 Images ]---*/

img {
    max-width: 100%;
}


/*------------------------------*/
/*---[ #2. Framework Levels ]---*/
/*------------------------------*/

/* Notes - basic styles for 5 levels of the framework */

/*---[ #2.1 Stretch (.st) ]---*/

.st {
    width: 100%
}

.st .fd {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
}

/*---[ #2.2 Field (.fd) ]---*/

.fd {
    padding: 0 0 20px;
    clear: both;
}

/*---[ #2.3 Region (.rg) ]---*/

.rgMainContent {
    float: left;
    width: 75%;
}

.rgSubContent {
    float: right;
    width: 25%;
}

/*---[ #2.4 Group (.gp) ]---*/

.gp {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    position: relative;
    z-index: 0;
}

/*---[ #2.5 Component (.cp) - Set outer dimensions and display ]---*/

.cp {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Component Groups */
.rgMainContent .gp .cp {
    float: left;
    width: 100%;
}

.rgMainContent .gpOf2 .cp {
    width: 50%
}

.rgMainContent .gpOf2 .cpMajor {
	width:66.6666%;	
}

.rgMainContent .gpOf2 .cpMinor {
	width:33.3333%;
}

.rgMainContent .gpOf3 .cp {
    width: 33.3333%;
}

.rgMainContent .gpOf3 .cpMajor {
	width:50%;	
}

.rgMainContent .gpOf3 .cpMinor {
	width:25%;
}

/*----------------------------*/
/*---[ #3 Page Components ]---*/
/*----------------------------*/

/* Notes - Set component styles, including padding, margins and borders */

/*---[ #3.1 Grid Alignment - margins ]---*/

.in {
    margin:0 15px 30px;
}

/*---[ #3.2 Inner Base Styles ]---*/

.cp .in {
	
}

.rgMainContent .in {
	margin:0 15px 25px;
	padding:15px;
	background:#eaeaea;
}

.rgSubContent .in {
	padding:15px;
	box-shadow:none;
    background:#333;
	color:#fff;
}

.cpArticle .in {
    padding:25px 0;
}

/*---[ #3.3 Article Styles ]---*/

.cpArticle .in {
	background:#fff;
}

/*---[ #3.4 Main Navigation ]---*/
.cpMainNav .in {
	margin:0 0 30px;	
}

.cpMainNav ul {
	padding:0 15px;
}

.cpMainNav li {
    display: inline-block;
    font-weight: bold;
}

.cpMainNav li a {
    line-height: 1em;
    display: block;
    padding: 7px 20px;
    text-decoration: none;
    color: #fff;
    background: #444;
}

.cpMainNav h2 {
    display: none
}

/*---[ #3.5 Scroller - Notes: Responsive scroller ]---*/
.cpScroller {
	margin:20px 0;	
	position:relative;
	height:100%;
	overflow:hidden;
}

.cpScroller .in {
	padding:0 0 3px;
	margin:0 15px;
	position:relative;
	height:100%;
	background:none;
}

.cpScroller ul {
	width:100%;
	padding:0;
	display:block;
	overflow:scroll;
	white-space: nowrap;
	background:#aaa;
}

.js .cpScroller ul {
	overflow:hidden;
}

.cpScroller ul li {
	display:inline-block;
	vertical-align:top;
	width:25%;
	position:relative;
}

.cpScroller ul li .content {
	margin:10px;
	padding:10px;
	display:block;
	white-space:normal;
}

.cpScroller ul li .image {
	line-height:0;
	margin:0;
}

.cpScroller ul li .summary {
	text-decoration:none;
	position:absolute;
	width:80%;
	top:23px;
	left:25px;
	color:#fff;	
}

.cpScroller .scrollControls {
	margin:10px 0 0;
	text-align:center;		
}

.cpScroller .scrollControls a {
	padding:4px 10px;
	margin:0 5px;
	text-decoration:none;
	background:#666;
	color:#fff;	
}

/*---[ #3.X Utilities ]---*/

/* Self-Clearing Floats */
.fd:after,
.in:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*---------------------------*/
/*---[ #4 CSS3 Enhancements ]---*/
/*---------------------------*/

/*---[ #4.1 Border Radius ]---*/

/*---[ #4.2 Box Shadow ]---*/

.rgMainContent .in {
	-webkit-box-shadow:2px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:2px 2px 0 rgba(0,0,0,0.3);
	box-shadow:2px 2px 0 rgba(0,0,0,0.3);	
}


.scrollContent {
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3), 0 1px 0 #fff;
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3), 0 1px 0 #fff;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.3), 0 1px 0 #fff;	
}

/*---[ #4.3 Text Shadow ]---*/

.action a {
    text-shadow: 0 1px 3px black
}

/*---[ #4.4 Gradients ]---*/

/*---[ #4.5 Transforms ]---*/

/*---[ #4.6 Transitions ]---*/
a {
    transition: all .2s linear
}

.action a {
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

/*---[ #4.7 Animations ]---*/

/*--------------------------*/
/*---[ 5. Media Queries ]---*/
/*--------------------------*/

/*---[ #5.1 Max Width = 1024px ]---*/

@media only screen and (max-width:1024px) { 
	.rgMainContent,
	.rgSubContent {
	    width: 100%
	}

	.rgSubContent .cp {
	    float: left;
	    width: 50%;
	}

	/*---[ Grid Alignment - margins ]---*/

	/*---[ Component styles ]---*/

	.detail .img {
	    float: left;
	    max-width: 50%;
	}

	.detail .desc {
	    overflow: visible
	}
	
	/*---[ Scroller ]---*/
	.cpScroller ul li {
		width:33.3333%;	
	}
}

/*---[ #5.1 Max Width = 768px ]---*/
@media only screen and (max-width: 768px) { 
	
	/*---[ Grid Alignment - margins ]---*/	
	.st .fd,
	.rg,
	.rg .gp .cp {
	    width: 100%
	}
	
	

	.rg .gp .cp .in {
	    margin:15px;
	}

	.cp .desc {
	    float: none;
	    max-width: 100%;
	    clear: none;
	}

	/*---[ Main Nav ]---*/
	.cpMainNav h2 {
	    display: block;
	    padding: 5px 20px;
	    margin: 0;
	    background: #ccc;
	    cursor: pointer;
	}

	.js .cpMainNav nav {
	    height: 0;
	    overflow: hidden;
	    padding: 0;
	    background: #ccc;
	}

	.js .cpMainNav.show nav {
	    height: auto;
	    padding: 0 20px 20px;
	}
	
	.js .cpMainNav ul {
		padding:0;
		margin-top:0;		
	}

	.js .cpMainNav ul li {
	    display: block;
	    margin: 10px 0 0;
	}

	.js .cpMainNav.show ul li:first-child {
	    margin-top: 0
	}
	
	/*---[ Generic Component Elements ]---*/
	
	.cp .img {
		border:none;
	}
	
	/*---[ Scroller ]---*/
	.cpScroller ul li {
		width:50%;	
	}

	.stSiteHeader h1 span {
	    display: none
	}
}

/*---[ #5.1 Max Width = 480px ]---*/
@media only screen and (max-width: 480px) { 
	.detail .image {
	    float: none;
	    max-width: 100%;
	    margin-right: 0;
	}

	.fd,
	.rg,
	.in,
	.fwPointer h1 {
	    margin: 0
	}

	.fdHeader .brand h2 {
	    display: none
	}

	.in,
	.fdHeader .brand {
	    margin-left: 15px;
	    margin-right: 15px;
	}
	
		/*---[ Scroller ]---*/
	.cpScroller ul li {
		width:100%;	
	}
}

/*---[ Framework Heading ]---*/

.stSiteHeader {
    background: #000
}

.stSiteHeader .in {
    margin-bottom: 0
}

.stSiteHeader h1 {
    margin: 0;
    color: #fff;
}

.stSiteHeader h1 span {
    font-size: 16px;
    color: #999;
    margin-left: 4px;
}

/*---[ Developer Tools - NOT FOR PRODUCTION ]---*/

.debugToggle {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 4px 10px;
    background: #333;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.debugToggle:after {
    content: " off"
}

.debugMode .debugToggle {
    background: #990000
}

.debugMode .debugToggle:after {
    content: " on"
}

.debugMode .fd:hover {
    box-shadow: inset 0 0 0 4px blue
}

.debugMode .rg:hover {
    box-shadow: inset 0 0 0 4px green
}

.debugMode .gp:hover {
    box-shadow: inset 0 0 0 4px orange
}

.debugMode .cp:hover {
    box-shadow: inset 0 0 0 4px red
}

.pg,
.rg,
.gp,
.cp {
    -webkit-transition: box-shadow .2s ease-in-out;
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    -ms-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}

/* Framework Pointers */
.fwPointer h1 {
    padding: 5px 15px;
    margin: 0 0 30px;
    background: #000;
    font-size: 18px;
    color: #fff;
}

/* Not in use */

/* Border that doesn't stick out from components */

/*
.gp {
	border-bottom:2px solid #ddd;	
}

.gp:before,
.gp:after {
	content:" ";
	position:absolute;
	bottom:-2px;
	width:15px;
	height:2px;
	background:#F6F2E9;
	display:block;
	z-index:100;		
}

.gp:before {
	left:0;
}

.gp:after {
	right:0;
}
 
*/
