/* != Global - Media Queries */

/* !== Breakpoints */

/*
What are the parameter values for each Media Query?
- Set these values without units, these'll be added in the mixin
*/
$mqArtoo: 480;
$mqLeia: 610;
$mqLuke: 770;
$mqHan: 900;
$mqChewie: 1000;

/*

MQ Names - Star Wars Theme
==========================

Use the A-List names for main breakpoints and the B-List names for BPs for more specific rules and edge cases

Small
------------

- A-List
$mqYoda
$mqArtoo

- B-List
$mqEwok
$mqJawa

Medium
------------

- A-List
$mqLeia
$mqLuke
$mqHan
$mqThreepio

- B-List
$mqLando
$mqBoba
$mqLobot


Large
------------

- A-List
$mqVader
$mqChewie

- B-List
$mqJabba
$mqWampa
$mqRancor
$mqSarlacc


Very Large
------------

- A-List
$mqATAT
$mqStarDestroyer
$mqDeathStar

*/
