/* != Drupal Reset */
/* NOTE: Styles for resetting the Drupal system CSS */

/* !== Navigation */
ul.menu {
  margin:0;
  padding:0;
  list-style:none;

  li, li.leaf {
    padding:0;
    margin:0;
    background:none;
    list-style:none;
  }
}

/* !== Forms */
.resizable-textarea {
  .grippie {
    display: none;
  }
}